@screen sm {
}

@screen md {
  /* .sliding-heading {
    word-break: normal;
    width: 17rem;
    font-size: 2.5rem;
    line-height: 3.5rem;
  } */
}

@screen lg {
  /* .sliding-heading {
    width: 20rem;
    font-size: 3rem;
    line-height: 4rem;
  } */
}
